body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#page-1 {
  background-color: #3f51b5;
}

#page-2 {
  background-color: #673ab7;
}

#page-3 {
  background-color: #9c27b0;
}

#page-4 {
  background-color: #e91e63;
}
